<h1>Stupid Coaching!</h1>
<p class="subheader">Ask your coach anything:</p>

<form action="/answer" data-turbo="false">
    <div class="input-button">
        <input class="input" type="text" name="question">
        <input class="button" type="submit" value="Ask!">
    </div>
</form>
